@import '../../constants/colors.scss';

$overlay-dipongo: '../../Assets/project-overlay-dipongo.svg';
$overlay-wog: '../../Assets/project-overlay-wog.svg';
$overlay-ha: '../../Assets/project-overlay-ha.svg';
$overlay-fg: '../../Assets/project-overlay-fg.svg';

.projects-bubble {
  position: fixed;
  bottom: -15%;
  left: 10%;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: -1;
}

.projects-wrapper {
  padding-bottom: 2%;
  .projects-title-wrapper {
    padding-left: 100px;
    display: block;
    h1 {
      font-size: 4rem;
      margin-bottom: 10px;

      .underlined {
        font: inherit;
        color: inherit;
        position: relative;
      }
    }
    p {
      max-width: 40%;
      line-height: 30px;
    }
  }
  .projects-cards-wrapper {
    margin-top: 2%;
    padding-left: 100px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 50px 50px;
    grid-auto-flow: dense;

    .dipongo-bg {
      background-image: url('../../Assets/projects/dipongo1.png');
    }
    .wog-bg {
      background-image: url('../../Assets/projects/wog2.png');
    }

    .ha-bg {
      background-image: url('../../Assets/projects/homeassist2.png');
    }
    .fg-bg {
      background-image: url('../../Assets/projects/fillgood3.png');
    }

    .project-card-wrapper {
      position: relative;
      min-width: 450px;
      min-height: 400px;
      .project-card-button {
        position: absolute;
        width: 30%;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        font-size: 1.2rem;
        line-height: 35px;
        background-color: $fourth;
        color: #00b1da;
        background: linear-gradient(259.07deg, #daf8ff 4.07%, #b2eaf8 100%);
        box-shadow: 0px 8px 20px #e5f4f5;
        padding: 0.25em 3em;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        transition-duration: 0.5s;
        transition: all linear 0.3s;
      }

      .project-card {
        min-width: 450px;
        min-height: 400px;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding: 8%;

        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);

        .card-datas-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
          width: 55%;
          padding-top: 3%;
          padding-left: 3%;
          background: lightblue;
          border-top-right-radius: 5px;
          box-shadow: 0px 8px 20px #e5f4f5;
          .card-title {
            margin: 0;
            font-family: 'NeutraTextBold', 'Arial';
            color: $main;
            font-size: 2.8rem;
          }
          .card-meta {
            display: block;
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            padding: 0;
            color: $main;
            margin-top: 6px;
            .card-meta-item:first-child {
              position: relative;
              margin-right: 12px;
              &::after {
                content: '|';
                position: absolute;
                top: 0;
                right: -8px;
              }
            }
          }
        }
      }
    }

    .project-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      background: rgba(0, 0, 0, 0);
      border-radius: 10px;
      transition: background 0.5s ease;
    }

    .project-card-wrapper:hover .project-overlay {
      display: block;
      background: rgba(0, 0, 0, 0.3);
    }

    .project-card-wrapper:hover .project-card-button {
      opacity: 1;
    }

    .left {
      position: relative;
      overflow-y: hidden;
      padding-bottom: 5%;
      font-family: 'NeutraTextBook', 'Arial';
      color: $main;
    }

    .right {
      position: relative;
      overflow-y: hidden;
      padding-bottom: 5%;
      font-family: 'NeutraTextBook', 'Arial';
      color: $main;
    }
  }

  .contact-btn-wrapper {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .projects-wrapper {
    padding-bottom: 2%;
    .projects-title-wrapper {
      padding-left: 0;
      display: block;
      h1 {
        font-size: 3rem;
        margin-bottom: 10px;
      }
      p {
        max-width: 100%;
        line-height: 30px;
      }
    }

    .projects-cards-wrapper {
      padding-left: 0;
      padding-right: 0;
      grid-gap: 50px 50px;

      .project-card-wrapper {
        .project-card {
          height: 400px;
          width: 85vw;
          min-width: 200px;
          min-height: 200px;
          background-position: center;
          background-size: cover;
          border-radius: 10px;
          padding: 0%;

          &:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
          }

          .card-datas-wrapper {
            width: 60%;
            padding-top: 2.2%;
            padding-left: 2%;
            .card-title {
              font-size: 1.6rem;
            }
            .card-meta {
              font-size: 1rem;
            }
          }
        }
      }

      .project-overlay,
      .project-card-wrapper:hover .project-overlay,
      .project-card-button,
      .project-card-wrapper:hover .project-card-button {
        display: none;
      }
    }
  }

  .contact-btn-wrapper {
    padding-bottom: 120px;
  }
}
