@import '../../constants/colors.scss';

$overlay-dipongo: '../../Assets/project-overlay-dipongo.svg';
$overlay-wog: '../../Assets/project-overlay-wog.svg';
$overlay-ha: '../../Assets/project-overlay-ha.svg';
$overlay-fg: '../../Assets/project-overlay-fg.svg';

.projects-bubble {
  position: fixed;
  bottom: -15%;
  left: 10%;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: -1;
  animation-name: onLoad;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.projects-wrapper {
  padding-bottom: 2%;
  .projects-title-wrapper {
    padding-left: 100px;
    display: block;
    h1 {
      font-size: 4rem;
      margin-bottom: 10px;

      .underlined {
        font: inherit;
        color: inherit;
        position: relative;
      }
    }
    p {
      max-width: 40%;
      line-height: 30px;
    }
  }
  .projects-cards-wrapper {
    margin-top: 2%;
    padding-left: 100px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 50px 50px;
    grid-auto-flow: dense;

    .dipongo-bg {
      background-image: url('../../Assets/projects/dipongo1.png');
    }

    .wog-bg {
      background-image: url('../../Assets/projects/wog2.png');
    }

    .ha-bg {
      background-image: url('../../Assets/projects/homeassist2.png');
    }
    .fg-bg {
      background-image: url('../../Assets/projects/fillgood3.png');
    }

    .project-card {
      width: 450px;
      height: 400px;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      padding: 8%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: relative;
      filter: grayscale(0.7);
      animation-name: onLoad;
      animation-duration: 1.4s;
      &:hover {
        filter: grayscale(0);
        transform: translateY(2px);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);
      }

      .card-datas-wrapper {
        position: absolute;
        bottom: 0;
        z-index: 3;
        padding-bottom: 3%;
        .card-title {
          max-width: 100%;
          margin: 0;
          font-family: 'NeutraTextBold', 'Arial';
          color: $main;
          font-size: 2.8rem;
        }
        .card-meta {
          display: block;
          list-style-type: none;
          display: flex;
          justify-content: flex-start;
          padding: 0;
          color: $main;
          margin-top: 6px;
          .card-meta-item:first-child {
            position: relative;
            margin-right: 12px;
            &::after {
              content: '|';
              position: absolute;
              top: 0;
              right: -8px;
            }
          }
        }
        .meta-right {
          justify-content: flex-end;
        }
      }
      .title-right {
        right: 5%;
      }
    }

    .left.overlay-dipongo::after {
      background-image: url(#{$overlay-dipongo});
      background-repeat: no-repeat;
    }
    .right.overlay-fg::after {
      background-image: url(#{$overlay-fg});
      background-repeat: no-repeat;
    }
    .right.overlay-ha::after {
      background-image: url(#{$overlay-ha});
      background-repeat: no-repeat;
    }
    .left.overlay-wog::after {
      background-image: url(#{$overlay-wog});
      background-repeat: no-repeat;
    }

    .left {
      margin-top: 10%;
      position: relative;
      overflow-y: hidden;
      padding-bottom: 5%;
      font-family: 'NeutraTextBook', 'Arial';
      color: $main;
      &:hover::before {
        max-width: 70%;
        content: attr(data-description);
        white-space: pre-wrap;
        line-height: 30px;
        position: absolute;
        top: 25%;
        left: 10%;
        z-index: 3;
        opacity: 0;
        animation-name: textApparition;
        animation-delay: 0.8s;
        animation-fill-mode: forwards;
        animation-duration: 1s;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: -9rem;
        top: 12rem;
        z-index: 2;
        display: inline-block;
      }

      &:hover::after {
        animation: sheenLeft 1s forwards;
      }
    }

    .right {
      position: relative;
      overflow-y: hidden;
      padding-bottom: 5%;
      font-family: 'NeutraTextBook', 'Arial';
      color: $main;
      &:hover::before {
        max-width: 70%;
        content: attr(data-description);
        line-height: 30px;
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 2;
        opacity: 0;
        animation-name: textApparition;
        animation-delay: 0.8s;
        animation-fill-mode: forwards;
        animation-duration: 1s;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 12rem;
        right: -10rem;
        z-index: 1;
        display: inline-block;
        &:hover {
          width: 300%;
          height: 300%;
        }
      }

      &:hover::after {
        animation: sheenRight 1s forwards;
      }
    }
  }

  .contact-btn-wrapper {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .projects-wrapper {
    padding-bottom: 2%;

    .projects-title-wrapper {
      padding-left: 0;
      display: block;
      h1 {
        font-size: 3rem;
        margin-bottom: 10px;
      }
      p {
        max-width: 100%;
        line-height: 30px;
      }
    }

    .projects-cards-wrapper {
      margin-top: 2%;
      padding-left: 0;
      padding-right: 0;
      grid-gap: 50px 50px;

      .project-card {
        width: 85vw;
        height: 400px;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding: 0%;

        &:hover {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
        }

        .card-datas-wrapper {
          padding: 2%;
          .card-title {
            font-size: 2rem;
          }
        }
      }
      .left {
        margin-top: 0;
        &:hover::after,
        &:focus::after {
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          animation-name: sheenMobile;
          animation-duration: 0.6s;
          background-color: rgba(255, 255, 255, 0);
          background-image: none;
        }
        &:hover::before,
        &:focus::before {
          line-height: 25px;
          max-width: 85%;
          top: 5%;
          left: 7.5%;
        }
      }

      .right {
        margin-top: 0;
        &:hover::after,
        &:focus::after {
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          animation-name: sheenMobile;
          animation-duration: 0.6s;
          background-color: rgba(255, 255, 255, 0);
          background-image: none;
        }
        &:hover::before,
        &:focus::before {
          line-height: 25px;
          max-width: 85%;
          top: 5%;
          left: 7.5%;
        }
      }
    }

    .right.overlay-fg::after,
    .right.overlay-ha::after,
    .left.overlay-dipongo::after,
    .left.overlay-wog::after {
      display: none;
    }
  }

  .contact-btn-wrapper {
    padding-bottom: 120px;
  }
}

@keyframes textApparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sheenRight {
  100% {
    transform: rotateZ(60deg) translate(0, -20%);
    width: 200%;
    height: 200%;
  }
}

@keyframes sheenLeft {
  100% {
    transform: rotateZ(55deg) translate(-14%, 2%);
    width: 200%;
    height: 200%;
  }
}

@keyframes sheenMobile {
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
