@import '../../constants/colors.scss';

.navigation-global-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  .nav-link-wrapper {
    .nav-button-link {
      position: absolute;
      font-size: 0.8em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.2em;
      margin: 0;
      text-decoration: none;
      color: $main;
    }

    .focused.nav-button-link::after {
      content: '';
      width: 0%;
      height: 100%;
      background: url('../../Assets/underline.svg') no-repeat;
      position: absolute;
      top: 0.2rem;
      left: -0.5rem;
      z-index: -1;
      display: inline-block;
      animation-name: underlineAnimate;
      animation-duration: 0.2s;
      animation-fill-mode: both;
    }

    .left {
      left: 2vw;
      top: 50vh;
      transform: rotate(-90deg);
    }

    .right {
      right: 0.8vw;
      top: 50vh;
      transform: rotate(-90deg);
    }

    .bottom {
      left: 0;
      right: 0;
      bottom: 5vh;
    }

    .bottom-focused.nav-button-link::after {
      content: '';
      width: 140%;
      height: 0%;
      background: url('../../Assets/underline.svg') no-repeat;
      position: absolute;
      left: 46%;
      top: 10%;
      z-index: -1;
      animation-name: BottomUnderlineAnimate;
      animation-duration: 0.2s;
      animation-fill-mode: both;
    }

    .nav-decoration-line {
      position: absolute;
      display: block;
      width: 2px;
      height: 25px;
      background: linear-gradient(259.07deg, #daf8ff 4.07%, #b2eaf8 100%);
    }

    .deco-left {
      left: 0.4vw;
      top: 50vh;
      transform: rotate(-90deg);
    }

    .deco-right {
      right: 0.4vw;
      top: 50vh;
      transform: rotate(-90deg);
    }

    .deco-bottom {
      left: 50vw;
      bottom: 0vh;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation-global-wrapper {
    display: none;
  }
}

@keyframes BottomUnderlineAnimate {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes underlineAnimate {
  0% {
    width: 0%;
  }
  100% {
    width: 140%;
  }
}
