.header {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
  z-index: 10;
  .author-name {
    font-family: 'NeutraTextBook', 'Arial';
    font-size: 0.6em;
    margin-left: 5vw;
  }

  .contact {
    width: 40px;
    margin-right: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    height: 20px;
    .author-name {
      margin-left: 8vw;
    }
    .contact {
      width: 30px;
      margin-right: 8vw;
    }
  }
}
