@import '../../constants/colors.scss';

.home-wrapper {
  .home-title-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 14vh;
    left: 9vw;
    margin: auto;
    z-index: 10;

    .home-title-content {
      .home-title {
        margin-bottom: -0.5rem;
        font-size: 7em !important;
        color: $fourth;
      }

      .home-subtitle {
        width: 30vw;
        color: $tertiary;
        line-height: 30px;
      }
    }
  }

  .home-bubble-wrapper {
    .home-bubble,
    .home-bubble-arm,
    .home-bubble-round {
      position: absolute;
      z-index: 0;
    }

    .home-bubble {
      width: 70%;
      top: 0;
      left: 34%;
      right: 0;
      margin: auto;
      z-index: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .home-title-wrapper {
      top: 32vh;
      left: 5vw;
      .home-title-content {
        .home-title {
          font-size: 3rem !important;
        }
        .home-subtitle {
          width: 80vw;
          font-size: 1.2rem;
          line-height: 28px;
        }
      }
    }

    .home-bubble-wrapper {
      .home-bubble,
      .home-bubble-arm,
      .home-bubble-round {
        position: absolute;
        z-index: 0;
      }

      .home-bubble {
        width: 120%;
        top: 5%;
        left: -10%;
      }
    }
  }
}

.head-animation {
  animation-name: headAnimation;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.under-head-animation {
  animation-name: underHeadAnimation;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.arm-animation {
  animation-name: armAnimation;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.left-arm {
  animation-delay: 0s;
  animation-name: leftArmAnimation;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.middle-arm {
  animation-delay: 0.4s;
}

.right-arm {
  animation-delay: 0.8s;
}

.bubble-animation {
  animation-name: bubbleAnimation;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes leftArmAnimation {
  0% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-60px);
  }
}

@keyframes armAnimation {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes headAnimation {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes underHeadAnimation {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}
