@import "../../constants/colors.scss";

.home-wrapper {
  margin-top: 2%;
  section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-title-wrapper {
      padding-left: 5%;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .home-title-content {
        .home-title {
          margin-bottom: -0.5rem;
          font-size: 6em !important;
          color: $fourth;
        }

        .home-subtitle {
          width: 100%;
          color: $tertiary;
          line-height: 1.5em;
        }
      }
    }

    .home-bubble-wrapper {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;

      .home-bubble {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
    section {
      height: 90%;
      position: relative;

      .home-title-wrapper {
        width: 100%;

        .home-title-content {
          .home-title {
            font-size: 3rem !important;
          }
          .home-subtitle {
            width: 100%;
            font-size: 1.2rem;
            line-height: 1.4em;
          }
        }
      }

      .home-bubble-wrapper {
        position: absolute;
        top: -30%;
        z-index: -1;
        width: 120%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .home-bubble {
          width: 100%;
        }
      }
    }
  }
}

.head-animation {
  animation-name: headAnimation;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.under-head-animation {
  animation-name: underHeadAnimation;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.arm-animation {
  animation-name: armAnimation;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.left-arm {
  animation-delay: 0s;
  animation-name: leftArmAnimation;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.middle-arm {
  animation-delay: 0.4s;
}

.right-arm {
  animation-delay: 0.8s;
}

.bubble-animation {
  animation-name: bubbleAnimation;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes leftArmAnimation {
  0% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-60px);
  }
}

@keyframes armAnimation {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes headAnimation {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes underHeadAnimation {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}
