@import './constants/colors.scss';

@font-face {
  font-family: 'FauneTextBold';
  src: local('FauneTextBold'),
    url(./Assets/Fonts/Faune-Text_Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutraTextBold';
  src: local('NeutraTextBold'),
    url(./Assets/Fonts/NeutraText-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'NeutraTextBook';
  src: local('NeutraTextBook'),
    url(./Assets/Fonts/NeutraText-Book.otf) format('truetype');
}

h1,
h2,
h3,
h4 {
  font-family: 'NeutraTextBold', 'Arial';
  color: $fourth;
}

p,
span,
a {
  font-family: 'NeutraTextBook', 'Arial';
  font-size: 1.25rem;
}

p,
span {
  color: $tertiary;
}

a {
  color: $main;
  text-decoration: none;
}

.page {
  width: 85vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  margin: 2% auto;
  left: 0;
  right: 0;
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .page {
    height: 100vh;
  }

  a,
  .classic-btn {
    cursor: pointer;
  }
}
