@import "../../../constants/colors.scss";

.projects-details {
  .projects-details-title-wrapper {
    min-height: 10em;
    margin-top: 5%;
    h1 {
      font-size: 3em;
      margin-bottom: 0;
    }
    h2 {
      font-size: 1.2em;
      font-family: "NeutraTextBook", "Arial";
      color: $main;
    }
    .back-btn-wrapper {
      min-height: 4em;
      margin-bottom: -3em;
    }
  }

  .project-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .project-details-picture-wrapper {
      width: 40vw;
      max-height: 40em;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5em;
      .project-details-picture {
        width: 100%;
        height: 100%;
      }
    }
    .project-details-description {
      width: 40vw;

      p {
        line-height: 1.4em;
      }
    }
  }

  .navigation-wrapper {
    .vertical-divider {
      margin-right: 1em;
      margin-left: 1em;
    }
    max-width: 20em;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 768px) {
  .projects-details {
    .projects-details-title-wrapper {
      min-height: 10em;
      margin-top: 15%;
      margin-bottom: -1em;
      h1 {
        font-size: 2.2em;
      }
      .back-btn-wrapper {
        display: block;
        margin-bottom: -3em;
      }
    }

    .project-details-wrapper {
      .project-details-picture-wrapper {
        width: 80vw;

        .project-details-picture {
          width: 100%;
        }
      }
      .project-details-description {
        width: 90vw;
      }
    }

    .navigation-wrapper {
      margin-top: 0;
      padding-bottom: 10vh;
    }
  }
}
