@import "../../constants/colors.scss";

.about-wrapper {
  height: 85vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  .desktop-about-profile-picture-wrapper {
    width: 35vw;
    max-height: 65vh;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .desktop-about-profile-picture {
      min-width: 250px;
      max-width: 20%;
      border-radius: 10px;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      filter: opacity(0.6);
      &:hover {
        filter: opacity(1);
        transform: translateY(2px);
      }
    }
  }

  .mobile-about-profile-picture {
    display: none;
  }
  .about-presentation-wrapper {
    margin: 0 auto;
    width: 40vw;
    display: flex;

    .about-title-wrapper {
      display: flex;
      flex-direction: column;
    }

    .about-presentation-text {
      h1 {
        font-size: 4rem;
        margin-bottom: 10px;
        .underlined {
          font: inherit;
          color: inherit;
          position: relative;
        }
      }
      p {
        line-height: 25px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    .desktop-about-profile-picture {
      display: none;
    }
    .mobile-about-profile-picture {
      display: unset;
      float: left;
      width: 100px;
      margin-right: 10px;
      border-radius: 10px;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      filter: opacity(0.6);
      &:hover {
        filter: opacity(1);
        transform: translateY(2px);
      }
    }
    .about-presentation-wrapper {
      width: 100vw;
      height: 120%;
      .about-presentation-text {
        max-width: 500px;
        h1 {
          font-size: 3rem;
          margin-bottom: 10px;
        }
      }
    }
  }
}
